<p-toast />

<div class="content">
  <app-list-template
    [title]="'Lista de Módulos'"
    [showTitle]="true"
    [toAdd]="toAdd"
    [options]="true"
    [cols]="cols"
    [data]="data"
    [lazy]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [filtersGlobal]="filtersGlobal"
    [updateItem]="update.bind(this)"
    [deleteItem]="delete.bind(this)"
    (loadLazy)="load($any($event))"
    (dateQuery)="queryDate($event)"
    (create)="create()"
    (update)="update($event)"
    (delete)="delete($event)"
    (exportPage)="exportAsXLSX()"
    (reload)="rechargeTable()"
    (onRowSelectionChange)="onSelectionChange($any($event))">
  </app-list-template>

  <p-dialog [(visible)]="isDisplayForm" [style]="{width: '70vw'}"
    [header]="titleForm" [draggable]="false" [resizable]="false"
    [closable]="false" [modal]="true"
    [baseZIndex]="10000">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Nombre -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="name"
                autocomplete="off"
                class="w-full"
                formControlName="name" />
              <label for="name">Nombres</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('name')?.invalid &&
              userForm.get('name')?.touched) {
              <span>{{ getErrorMessage('name') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="lastName"
                autocomplete="off"
                class="w-full"
                formControlName="lastName" />
              <label for="lastName">Apellidos</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('lastName')?.invalid &&
              userForm.get('lastName')?.touched) {
              <span>{{ getErrorMessage('lastName') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="phone"
                autocomplete="off"
                class="w-full"
                formControlName="phone" />
              <label for="phone">Teléfono</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Correo -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="email" pInputText id="email"
                autocomplete="off"
                class="w-full"
                formControlName="email" />
              <label for="email">Correo Electrónico</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('email')?.invalid &&
              userForm.get('email')?.touched) {
              <span>{{ getErrorMessage('email') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Usuario -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="username"
                autocomplete="off"
                class="w-full"
                formControlName="username" />
              <label for="username">Usuario</label>
            </p-floatlabel>
          </div>
        </div>

        <!-- Contraseña -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="password" pInputText id="password"
                autocomplete="off"
                class="w-full"
                formControlName="password" />
              <label for="password">Contraseña</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Empresa -->
        <div class="col-lg-6 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="company"
                autocomplete="off"
                class="w-full"
                formControlName="company" />
              <label for="company">Empresa</label>
            </p-floatlabel>
          </div>
        </div>


      </div>


      <p-divider></p-divider>

      <!-- Aquí irían los formArray para módulos, roles y permisos -->
      <div formArrayName="modules">
        <h4>Módulos</h4>
        <!-- Similar a cómo manejas routes en módulos -->
      </div>

      <div formArrayName="roles">
        <h4>Roles</h4>
        <!-- Similar a módulos -->
      </div>

      <div formArrayName="permissions">
        <h4>Permisos</h4>
        <!-- Similar a módulos -->
      </div>


    </form>

    <ng-template #footer>
      <div class="mt-md">

        <p-button label="Cancel" [text]="true" severity="secondary"
          (click)="closeDialog()" class="mr-md" />
        <p-button label="Save" [disabled]="false" [outlined]="true"
          severity="primary"
          (click)="onSubmit()" />
      </div>
    </ng-template>
  </p-dialog>

</div>
