<p-toast />

<div class="content">
  <app-list-template
    [title]="'Lista de ' + title"
    [showTitle]="true"
    [toAdd]="toAdd"
    [options]="true"
    [cols]="cols"
    [data]="data"
    [lazy]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [filtersGlobal]="filtersGlobal"
    [updateItem]="update.bind(this)"
    [deleteItem]="delete.bind(this)"
    (loadLazy)="load($any($event))"
    (dateQuery)="queryDate($event)"
    (create)="create()"
    (update)="update($event)"
    (delete)="delete($event)"
    (exportPage)="exportAsXLSX()"
    (reload)="rechargeTable()"
    (onRowSelectionChange)="onSelectionChange($any($event))">
  </app-list-template>

  <p-dialog [(visible)]="isDisplayForm" [style]="{width: '90vw'}"
    [header]="titleForm" [draggable]="false" [resizable]="false"
    [closable]="false" [modal]="true"
    [baseZIndex]="10000">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Nombre -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="name"
                autocomplete="off"
                class="w-full"
                formControlName="name" />
              <label for="name">Nombres</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('name')?.invalid &&
              userForm.get('name')?.touched) {
              <span>{{ getErrorMessage('name') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="lastName"
                autocomplete="off"
                class="w-full"
                formControlName="lastName" />
              <label for="lastName">Apellidos</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('lastName')?.invalid &&
              userForm.get('lastName')?.touched) {
              <span>{{ getErrorMessage('lastName') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="phone"
                autocomplete="off"
                class="w-full"
                formControlName="phone" />
              <label for="phone">Teléfono</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Correo -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="email" pInputText id="email"
                autocomplete="off"
                class="w-full"
                formControlName="email" />
              <label for="email">Correo Electrónico</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('email')?.invalid &&
              userForm.get('email')?.touched) {
              <span>{{ getErrorMessage('email') }}</span>
              }
            </div>
          </div>
        </div>

        <!-- Usuario -->
       <!--  <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="text" pInputText id="username"
                autocomplete="off"
                class="w-full"
                formControlName="username" />
              <label for="username">Usuario</label>
            </p-floatlabel>
          </div>
        </div> -->

        @if(!isEditForm){
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <input type="password" pInputText id="password"
                autocomplete="off"
                class="w-full"
                formControlName="password" />
              <label for="password">Contraseña</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('password')?.invalid &&
              userForm.get('password')?.touched) {
              <span>{{ getErrorMessage('password') }}</span>
              }
            </div>
          </div>
        </div>
        }

        @if(!isEditForm) {
        <!-- Empresa -->
        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel variant="on">
              <p-autocomplete [dropdown]="true"
                [suggestions]="itemsAutocomplete"
                (completeMethod)="findByAutoComplete($event)"
                optionLabel="name" optionValue="name" formControlName="company"
                class="w-full" />
              <label for="company">Empresa</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('company')?.invalid &&
              userForm.get('company')?.touched) {
              <span>{{ getErrorMessage('company') }}</span>
              }
            </div>
          </div>
        </div>

        }

        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel class="p-float-label p-fluid input-field ">
              <p-multiselect id="permissions" class="w-full"
                [options]="permissionsOptions"
                optionLabel="name"
                optionValue="value"
                formControlName="permissions"
                appendTo="body" />
              <label for="permissions">Permisos Generales</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('permissions')?.invalid &&
              userForm.get('permissions')?.touched) {
              <span>{{ getErrorMessage('permissions') }}</span>
              }
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel class="p-float-label p-fluid input-field ">
              <p-multiselect id="roles" class="w-full"
                [options]="rolesOptions"
                optionLabel="name"
                optionValue="value"
                formControlName="roles"
                appendTo="body" />
              <label for="roles">Roles</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('roles')?.invalid &&
              userForm.get('roles')?.touched) {
              <span>{{ getErrorMessage('roles') }}</span>
              }
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 w-full">
          <div class="p-md w-full">
            <p-floatlabel class="p-float-label p-fluid input-field ">
              <p-multiselect id="modules" class="w-full"
                [options]="modulesOptions"
                optionLabel="name"
                optionValue="value"
                formControlName="modules"
                appendTo="body" />
              <label for="modules">Módulos</label>
            </p-floatlabel>
            <div class="message-validation">
              @if (userForm.get('modules')?.invalid &&
              userForm.get('modules')?.touched) {
              <span>{{ getErrorMessage('modules') }}</span>
              }
            </div>

          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 w-full ">
          <div class="p-md ">
            <div class="flex items-center gap-2">
              <p-checkbox inputId="isActived" formControlName="isActived"
                [binary]="true" />
              <label for="isActived" class="label-checkbox p-xs w-full">
                Activo</label>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 w-full ">
          <div class="p-md ">
            <div class="flex items-center gap-2">
              <p-checkbox inputId="isAdmin" formControlName="isAdmin"
                [binary]="true" />
              <label for="isAdmin" class="label-checkbox p-xs w-full">
                Administrador</label>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 w-full ">
          <div class="p-md ">
            <div class="flex items-center gap-2">
              <p-checkbox inputId="isSuperAdmin" formControlName="isSuperAdmin"
                [binary]="true" />
              <label for="isSuperAdmin" class="label-checkbox p-xs w-full">
                Super Usuario</label>
            </div>
          </div>
        </div>

      </div>

    </form>

    <ng-template #footer>
      <div class="mt-md">

        <p-button label="Cancelar" [text]="true" severity="secondary"
          (click)="closeDialog()" class="mr-md" />
        <p-button label="Guardar" [disabled]="userForm.invalid"
          [outlined]="true"
          severity="primary"
          (click)="onSubmit()" />
      </div>
    </ng-template>
  </p-dialog>
</div>
